{{ $contact := .Site.GetPage "/sections/contact" }}
{{ if $contact }}
<section class="cta" id="book">
  <h2>{{ $contact.Title }}</h2>
  <div class="contact-content">
    {{ $contact.Content }}
  </div>
  
  <div class="contact-info">
    <p><strong>Contact Information:</strong></p>
      {{ $email := $contact.Params.contact_email }}
      {{ $parts := split $email "@" }}
      {{ $local := index $parts 0 }}
      {{ $domain := index $parts 1 }}
    <p>Email:</p>
    <p class="email-wrap">
      <a class="email-address" href="mailto:{{ $email }}" data-email="{{ $email }}" >
        <span class="local">{{ $local }}</span>
        <span class="at">@</span>
        <span class="domain">{{ $domain }}</span>
      </a>
    </p>
    {{ if $contact.Params.contact_phone }}
    <p>Phone: <a href="tel:{{ $contact.Params.contact_phone }}">{{ $contact.Params.contact_phone }}</a></p>
    {{ end }}
  </div>
  
</section>
{{ end }}
